
$primary-color: #417D44;
$primary-color-light: #CAF0CC;
$primary-color-dark: darken($primary-color, 30%);


$roboto-font-path: "fonts/roboto/";
@import "~materialize-css/sass/materialize.scss";
@import "~material-design-icons/iconfont/material-icons.css";

#main-container {
	> * {
		display: none;
	}
}

#loader>div {
	width: 100%;
}

#bottom-loader {
	text-align: center;
	display: none;
}

nav {
	.brand-logo img {
		height: $navbar-height;
	}
}

#navbar-left {
	> #sourcelist-load {
		text-align: center;
	}
	.navbar-header {
		line-height: 1.5em;
		padding: 0.5em;
		img {
			max-width: 80%;
		}
	}
}
@media #{$large-and-up} {
	body:not(.no-sidebar){

		#navbar-left {
			z-index: 996;
			transform: translateX(0) !important;
			transition-property: transform;
			transition-duration: 1s;

			//          x   y   blur size
			box-shadow: 0px 5px 3px 3px rgba(0, 0, 0, 0.14);
		}
		.navbar-fixed {
			margin-left: 300px;
			transition-property: margin-left;
			transition-duration: 1s;
			nav {
				transition-property: width;
				transition-duration: 1s;
				width: calc(100% - 300px);
				box-shadow: 5px 2px 3px 3px rgba(0, 0, 0, 0.14);
			}
		}
		#main-container, .loader {
			margin-left: 300px;
			transition-property: margin-left;
			transition-duration: 1s;
		}
	}

}

.informo-article {
	.informo-article-title {
		font-weight: bold;
	}
	.informo-article-intro {
		padding: 1em 1em 0 0;
	}
	.informo-article-details {
		margin: -30px -30px 0 -30px;
		padding: 1em;

		> * {
			padding: 0 1em;
		}
		i {
			vertical-align: middle;
		}
	}
	.informo-article-content {
		img {
			max-width: 100%;
		}
		blockquote {
			border-left-color: #417D44;
		}
	}


	&.with-img {
		.collapsible-header > div:first-child {
			flex: 1;
		}
		.informo-article-image {
			max-width: 25%;
			margin: -15px -15px -15px 0;
		}
		.informo-article-image img {
			max-height: 200px;
			max-width: 100%;
		}
	}
}




.informo-bg-green {
	background-color: $primary-color;
	color: #fff;
}
.informo-bg-green-light {
	background-color:$primary-color-light;
	color: #000;
}
.center-small {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}
