
$primary-color: #417D44;
$primary-color-light: #CAF0CC;
$primary-color-dark: darken($primary-color, 30%);


$roboto-font-path: "fonts/roboto/";
@import "~materialize-css/sass/materialize.scss";
@import "~material-design-icons/iconfont/material-icons.css";

// By default, hide all pages
#main-container {
	> * {
		display: none;
	}
}

// Top bar
nav {
	.brand-logo img {
		height: $navbar-height;
	}
}

// Left side bar
#sidebar {
	> #sourcelist-load {
		text-align: center;
	}
	.navbar-header {
		line-height: 1.5em;
		padding: 0.5em;
		img {
			max-width: 80%;
		}
	}
	li.informo-source-link {
		display: flex;

		> :first-child {
			flex-grow: 1;
		}
		> a {
			display: inline;
		}

		.dropdown-button {
			padding: 0 $sidenav-padding / 2;
		}

		ul.dropdown-content {
			li a {
				color: $primary-color;
				padding: 0 $sidenav-padding / 2;

				i {
					color: $primary-color;
					margin: 0 $sidenav-padding/2 0 0;
				}
			}

			.source-remove:hover{
				background-color: #fcc;
			}
		}
	}
	.icon-more {
		margin-right: 0;
	}
}
@media #{$large-and-up} {
	body:not(.no-sidebar){

		#sidebar {
			z-index: 996;
			transform: translateX(0) !important;
			transition-property: transform;
			transition-duration: 1s;

			//          x   y   blur size
			box-shadow: 0px 5px 3px 3px rgba(0, 0, 0, 0.14);
		}
		.navbar-fixed {
			margin-left: 300px;
			transition-property: margin-left;
			transition-duration: 1s;
			nav {
				transition-property: width;
				transition-duration: 1s;
				width: calc(100% - 300px);
				box-shadow: 5px 2px 3px 3px rgba(0, 0, 0, 0.14);
			}
		}
		#main-container, .loader {
			margin-left: 300px;
			transition-property: margin-left;
			transition-duration: 1s;
		}
	}

}

body.no-sidebar #sidebar-button {
	display: none;
}

// Reader fragment article
.reader-fragment {
	&.compact {
		.informo-article {

			&.with-img .collapsible-header{
				.article-header-text {
					flex: 1;
				}
				.article-header-image {
					max-width: 25%;
					margin: -15px -15px -15px 0;

					img {
						max-height: 200px;
						max-width: 100%;
					}
				}
			}
			.informo-article-title {
				font-weight: bold;
			}
			.informo-article-intro {
				padding: 1em 1em 0 0;
			}
			.informo-article-details {
				margin: -30px -30px 0 -30px;
				padding: 1em;

				> * {
					padding: 0 1em;
				}
				i {
					vertical-align: middle;
				}
			}
			.informo-article-content {
				img {
					max-width: 100%;
				}
				blockquote {
					border-left-color: #417D44;
				}
			}
		}
	}

	&:not(.compact){
		display: flex;
		justify-content: center;


		.reader-pane-list {
			flex-basis: 35%;
			overflow-y: auto;
			background-color: #ccc;

			.collection {
				border: none;
				margin: 0;
				.collection-item {
					width: 100%;
				}
				.article-list {
					.flow-text{
						font-weight: 300;
						$i: 0;
						@while $i <= $intervals {
							@media only screen and (min-width : 360 + ($i * $interval-size)) {
								font-size: 1.0rem * (1 + (.02 * $i));
							}
							$i: $i + 1;
						}
						// Handle below 360px screen
						@media only screen and (max-width: 360px) {
							font-size: 1.0rem;
						}
					}

					> a.unread * {
						font-weight: 400;
					}
					> a:not(.unread) * {
						font-weight: 300;
					}
				}
			}
		}
		.reader-pane-article {
			flex-basis: 65%;
			overflow-y: auto;

			.article-title-bar {
				margin-top: -5em;
				padding-top: 5em;
				background-color: $primary-color-light;

				.informo-article-details {
					padding: 1em;

					> * {
						padding: 0 1em;
					}
					i {
						vertical-align: middle;
					}
				}
			}
			.informo-article-intro {
				margin: 2em 0;
			}
		}
	}

	.informo-article-content {
		img {
			max-width: 100%;
		}
		blockquote {
			border-left-color: #417D44;
		}
	}

	.reader-request-loader {
		margin: 5em;
	}
	.reader-bottom-loader {
		text-align: center;
		display: none;
	}


}

// Discover page
#page-discover {
	.card-container {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;

		> .source-card {
			margin: 1em;
		}
	}
}


// Global classes

.informo-bg-green {
	background-color: $primary-color;
	color: #fff;

	&:hover{
		&.btn, &.btn-floating, &.btn-large, &.btn-flat {
			background-color: lighten($primary-color, 10%);
		}
	}
}

.informo-bg-green-light {
	background-color: $primary-color-light;
	color: #000;

	&:hover{
		&.btn, &.btn-floating, &.btn-large, &.btn-flat {
			background-color: darken($primary-color-light, 10%);
		}
	}
}

.center-small {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}


// Connection progress toast
.connecting-toast {
	transition-property: background-color;
	transition-duration: 1s;
}