
#loader>div {
	width: 100%;
}

#navbar-left > #sourcelist-load {
	text-align: center;
}

.informo-article.with-img > div > div {
	flex: 1;
}
.informo-article.with-img .informo-article-image {
	max-height: 100px;
	max-width: 50%;
}
.informo-article .informo-article-title {
	font-weight: bold;
}

.informo-article .informo-article-description {
	padding: 10px 7px 0 0;
}
